@model MyCollectionSite.Models.CollectionItem

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>CollectionItem</h4>
	<hr />
	<div class="row">
		<span class="col-sm-6">
			<img src="@Model.ImageURL" />
		</span>
		<dl class="col-sm-6">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Name)
			</dt>
			<dd class="col-sm-6">
				@Html.DisplayFor(model => model.Name)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Description)
			</dt>
			<dd class="col-sm-6">
				@Html.DisplayFor(model => model.Description)
			</dd>
			@*        <dt class = "col-sm-2">
			@Html.DisplayNameFor(model => model.ImageURL)
			</dt>
			<dd class = "col-sm-10">
			@Html.DisplayFor(model => model.ImageURL)
			</dd>
			*@
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Acquired)
			</dt>
			<dd class="col-sm-6">
				@Model.Acquired.ToString("MMM yyyy")
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Votes)
			</dt>
			<dd class="col-sm-6">
				@Html.DisplayFor(model => model.Votes)
			</dd>
		</dl>
	</div>
	<div>
		<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
		<a asp-action="Index">Back to List</a>
	</div>
</div>