@model MyCollectionSite.Models.CollectionItem

<div class="col">
    <div class="card h-100">
        <img src="@Model.ImageURL" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
        </div>
        <div class="card-footer user-select-none">
            @Model.Acquired.ToString("MMM yyyy")
            <div class="float-end">
                <span class="vote" data-id="@Model.Id" data-direction="true" role="button">👍</span>
                <span class="voteCount" id="item_@Model.Id">@Model.Votes</span>
                <span class="vote" data-id="@Model.Id" data-direction="false" role="button">👎</span>
            </div>
        </div>
    </div>
</div>
